{% load static %}
<main class="d-flex flex-nowrap">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
        <div class="">
            <a href="/static"
               class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-person-circle pr-5" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                </svg>
                <span class="fs-5 fw-semibold">{{ user }}</span>
            </a>
        </div>
        <div class="list-group list-group-flush border-bottom"
             style="width: 380px; height: 91.6vh; overflow-y: auto; overflow-x: hidden;">
            {% for room in rooms %}
                {% if room.pk == room_active %}
            <div class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{ room.name }}</strong>
                </div>
                <div class="col-10 mb-1 small">{{ room.description }}</div>
            </div>
                {% else %}
            <a href="{% url 'chat:chat' room.pk %}?user_id={{ user.pk }}" class="list-group-item list-group-item-action py-3 lh-sm">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">{{ room.name }}</strong>
                </div>
                <div class="col-10 mb-1 small">{{ room.description }}</div>
            </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>